<a href="https://colab.research.google.com/github/trmckibben/CalomirisPritchett_data/blob/master/fixingdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pa
import numpy as np

data = pa.read_csv('https://raw.githubusercontent.com/trmckibben/CalomirisPritchett_data/master/CalomirisPritchettdata.csv')

In [14]:
#fix name cause format is terrible
data["Sellers Name"] = data["Sellers Last Name"] + "," + " " + data["Sellers First Name"]
data["Buyers Name"] = data["Buyers Last Name"] + "," + " " + data["Buyers First Name"]
data["Notary Name"] = data["Notary Last Name"] + "," + " " + data["Notary First Name"]

In [15]:
data

       ID number  Conveyance  ...           Buyers Name                Notary Name
0              1          70  ...         Hopson, Maria        Coffey, John French
1              2          70  ...   Reynolds, Peyton N.           Shannon, William
2              3          70  ...     Bagneris, Heloise  Gottschalk, Edward George
3              4          70  ...    Dugue Jr., Francis       Laresche, Paul Emile
4              5          70  ...       O'Dowd, Anthony          Rareshide, George
...          ...         ...  ...                   ...                        ...
14708      15321          87  ...  Bujac, Matthew Jules            Ducatel, Amedee
14709      15370          87  ...   Chadwick, Sarah Ann          Mazareau, Adolphe
14710      15371          87  ...   Chadwick, Sarah Ann          Mazareau, Adolphe
14711      15372          87  ...   Chadwick, Sarah Ann          Mazareau, Adolphe
14712      15377          87  ...        Balois, Pierre            Ducatel, Amedee

[14713 rows x 74 columns]

In [16]:
#getting all of the column names
cols = list(data.columns.values)

In [17]:
cols

['ID number',
 'Conveyance',
 'Page',
 'Researcher',
 'Notary First Name',
 'Notary Last Name',
 'Sales Date',
 'Sellers First Name',
 'Sellers Last Name',
 'Sellers County of Origin',
 'Sellers State of Origin',
 'Representing Seller',
 'Relationship to Seller',
 'Buyers First Name',
 'Buyers Last Name',
 'Buyers County of Origin',
 'Buyers State of Origin',
 'Representing Buyer',
 'Relationship to Buyer',
 'Slave Name',
 'Sex',
 'Age',
 'Color',
 'Occupation',
 'Family Relationship',
 'Name Child 1',
 'Sex Child 1',
 'Age Child 1',
 'Name Child 2',
 'Sex Child 2',
 'Age Child 2',
 'Name Child 3',
 'Sex Child 3',
 'Age Child 3',
 'Name Child 4',
 'Sex Child 4',
 'Age Child 4',
 'Name Child 5',
 'Sex Child 5',
 'Age Child 5',
 'Name Child 6',
 'Sex Child 6',
 'Age Child 6',
 'Name Child 7',
 'Sex Child 7',
 'Age Child 7',
 'Name Child 8',
 'Sex Child 8',
 'Age Child 8',
 'Guaranteed',
 'Notes on Guarantee',
 'Number of Total Slaves',
 'Number of Adult Slaves',
 'Number of Child Slaves',
 'Number of Prices',
 'Price',
 'Payment Method',
 'Payment flag',
 'DUMMY credit',
 'Down Payment',
 'mthcred',
 'Interest Rate',
 'Discount Rate',
 'predicted rate',
 'Calculations',
 'Ratio',
 'PresentValue',
 'DUMMY omission',
 'Reason for Omission',
 'Comments',
 'DUMMY Estate Sale',
 'Sellers Name',
 'Buyers Name',
 'Notary Name']

In [18]:
# make dataframe without Conveyance, Page, Researcher,Calculations, Ratio, PresentValue, Dummy omission, reason for omission, comments, use name combo rows instead of separate columns.
dataless = data[['ID number', 'Notary Name', 'Sales Date', 'Sellers Name', 'Sellers County of Origin', 'Sellers State of Origin', 'Representing Seller', 'Relationship to Seller', 'Buyers Name', 'Buyers County of Origin', 'Buyers State of Origin', 'Representing Buyer', 'Relationship to Buyer', 'Slave Name', 'Sex', 'Age', 'Color', 'Occupation', 'Family Relationship', 'Name Child 1', 'Sex Child 1', 'Age Child 1', 'Name Child 2', 'Sex Child 2', 'Age Child 2', 'Name Child 3', 'Sex Child 3', 'Age Child 3', 'Name Child 4', 'Sex Child 4', 'Age Child 4', 'Name Child 5', 'Sex Child 5', 'Age Child 5', 'Name Child 6', 'Sex Child 6', 'Age Child 6', 'Name Child 7', 'Sex Child 7', 'Age Child 7', 'Name Child 8', 'Sex Child 8', 'Age Child 8', 'Guaranteed', 'Notes on Guarantee', 'Number of Total Slaves', 'Number of Adult Slaves', 'Number of Child Slaves', 'Number of Prices', 'Price', 'Payment Method', 'Payment flag', 'DUMMY credit', 'Down Payment', 'mthcred', 'Interest Rate', 'Discount Rate', 'predicted rate', 'DUMMY Estate Sale']]

In [19]:
#some of the rows have NaN values for price, which is needed for project so, throw those out.
dataless = dataless[dataless['Price'].notna()]

In [20]:
#check all values in sex column
dataless.Sex.unique()

array(['M', 'F', nan, '.', 'F ', 'M ', 'F       '], dtype=object)

In [42]:
#cry because array(['M', 'F', nan, '.', 'F ', 'M ', 'F       '], dtype=object) and why would you do that? 
#Then fix the values so they are uniform for god's sake
dataless.loc[(dataless.Sex == 'M '),'Sex']='M'
dataless.loc[(dataless.Sex == 'F '),'Sex']='F'
dataless.loc[(dataless.Sex == 'F       '),'Sex']='F'
dataless.loc[(dataless.Sex == '.'),'Sex']=np.NaN
dataless.loc[pa.isna(dataless.Sex),'Sex'] = 'U'
dataless.Sex.unique()

array(['M', 'F', 'U'], dtype=object)

In [22]:
#Find out our possible Colors.
dataless.Color.unique()

array(['.', 'Negro', 'Mulatto', 'Griff', 'Dark Griff', 'Light Black',
       'Black', 'Creole Negro', 'Yellow', 'Quarteroon', 'Colored',
       'Creole Mulatto', 'Copper', 'Creole', 'Dark Negro',
       'Light Mulatto', 'Bright Mulatto', 'Dark', 'Dark Mulatto', 'Brown',
       'Light Griff', 'Dark Copper', 'Mulatto, Griff', 'Light Negro',
       'Fair Mulatto', 'Bright Color', 'Light', nan, 'Light Brown',
       'Albino, Negro', 'Dark Orange, Griff ', 'Chestnut',
       'Yellow, Griff', 'Negro ', 'Black Negro', '. ', 'Griff Creole'],
      dtype=object)

In [56]:
#fix their weird spacing for repeating values Also, "Griff" is a slave not entirely of African descent but was a number of different ethnicities
dataless.loc[(dataless.Color == 'Negro '),'Color']='Negro'
dataless.loc[(dataless.Color == '. '),'Color']='.'
dataless.loc[(dataless.Color == '.'),'Color']='UC'
dataless.loc[pa.isna(dataless.Color),'Color'] = 'UC'
dataless.Color.unique()

array(['UC', 'Negro', 'Mulatto', 'Griff', 'Dark Griff', 'Light Black',
       'Black', 'Creole Negro', 'Yellow', 'Quarteroon', 'Colored',
       'Creole Mulatto', 'Copper', 'Creole', 'Dark Negro',
       'Light Mulatto', 'Bright Mulatto', 'Dark', 'Dark Mulatto', 'Brown',
       'Light Griff', 'Dark Copper', 'Mulatto, Griff', 'Light Negro',
       'Fair Mulatto', 'Bright Color', 'Light', 'Light Brown',
       'Albino, Negro', 'Dark Orange, Griff ', 'Chestnut',
       'Yellow, Griff', 'Black Negro', 'Griff Creole'], dtype=object)

In [24]:
Quarteroon = dataless['Color'].str.contains('Quarteroon')
ttlQuarteroon = Quarteroon.sum()
Black = dataless['Color'].str.contains('Black')
ttlBlack = Black.sum()
Mulatto = dataless['Color'].str.contains('Mulatto')
ttlMulatto = Mulatto.sum()
print(ttlQuarteroon, ttlBlack, ttlMulatto)

25 293 1485

In [59]:
from sklearn import preprocessing

lb = preprocessing.LabelBinarizer()

#lb.fit_transform(dataless.Sex)
sex = np.array(dataless.Sex)
#sex = np.append(sex,np.array(dataless.Color))
sexbi = lb.fit_transform(sex)
sexbi[0,:]

array([0, 1, 0])

In [60]:
color = np.array(dataless.Color)
colorbi = lb.fit_transform(color)
colorbi

array([[0, 0, 0, ..., 1, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 1, 0, 0]])

In [63]:
combine = np.append(sexbi,colorbi,axis = 1)
combine.shape

(12207, 37)

https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html