<a href="https://colab.research.google.com/github/trmckibben/CalomirisPritchett_data/blob/master/fixingdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [84]:
import pandas as pa
import numpy as np

data = pa.read_csv('https://raw.githubusercontent.com/trmckibben/CalomirisPritchett_data/master/CalomirisPritchettdata.csv')

In [85]:
#fix name cause format is terrible
data["Sellers Name"] = data["Sellers Last Name"] + "," + " " + data["Sellers First Name"]
data["Buyers Name"] = data["Buyers Last Name"] + "," + " " + data["Buyers First Name"]
data["Notary Name"] = data["Notary Last Name"] + "," + " " + data["Notary First Name"]

In [ ]:
data

In [59]:
#getting all of the column names
cols = list(data.columns.values)

In [ ]:
cols

In [86]:
# make dataframe without Conveyance, Page, Researcher,Calculations, Ratio, PresentValue, Dummy omission, reason for omission, comments, use name combo rows instead of separate columns.
dataless = data[['ID number', 'Notary Name', 'Sales Date', 'Sellers Name', 'Sellers County of Origin', 'Sellers State of Origin', 'Representing Seller', 'Relationship to Seller', 'Buyers Name', 'Buyers County of Origin', 'Buyers State of Origin', 'Representing Buyer', 'Relationship to Buyer', 'Slave Name', 'Sex', 'Age', 'Color', 'Occupation', 'Family Relationship', 'Name Child 1', 'Sex Child 1', 'Age Child 1', 'Name Child 2', 'Sex Child 2', 'Age Child 2', 'Name Child 3', 'Sex Child 3', 'Age Child 3', 'Name Child 4', 'Sex Child 4', 'Age Child 4', 'Name Child 5', 'Sex Child 5', 'Age Child 5', 'Name Child 6', 'Sex Child 6', 'Age Child 6', 'Name Child 7', 'Sex Child 7', 'Age Child 7', 'Name Child 8', 'Sex Child 8', 'Age Child 8', 'Guaranteed', 'Notes on Guarantee', 'Number of Total Slaves', 'Number of Adult Slaves', 'Number of Child Slaves', 'Number of Prices', 'Price', 'Payment Method', 'Payment flag', 'DUMMY credit', 'Down Payment', 'mthcred', 'Interest Rate', 'Discount Rate', 'predicted rate', 'DUMMY Estate Sale']]

In [87]:
#some of the rows have NaN values for price, which is needed for project so, throw those out.
dataless = dataless[dataless['Price'].notna()]

In [88]:
#check all values in sex column
dataless.Sex.unique()

array(['M', 'F', nan, '.', 'F ', 'M ', 'F       '], dtype=object)

In [91]:
#cry because array(['M', 'F', nan, '.', 'F ', 'M ', 'F       '], dtype=object) and why would you do that? 
#Then fix the values so they are uniform for god's sake
dataless.loc[(dataless.Sex == 'M '),'Sex']='M'
dataless.loc[(dataless.Sex == 'F '),'Sex']='F'
dataless.loc[(dataless.Sex == 'F       '),'Sex']='F'
dataless.Sex.unique()

array(['M', 'F', nan, '.'], dtype=object)

In [102]:
#I don't understand why there are Nan values and just . values? switch dot values to nan.
dataless.replace('.', np.NaN)
dataless['Sex'].replace('.', np.NaN)

0        M
1        F
2        F
3        M
4        M
        ..
14704    M
14705    M
14708    F
14709    F
14712    M
Name: Sex, Length: 12207, dtype: object

In [103]:
dataless.Sex.unique()

array(['M', 'F', nan, '.'], dtype=object)

In [104]:
#i give up it keeps coming out with '.' values. Find out our possible Colors.
dataless.Color.unique()

array(['.', 'Negro', 'Mulatto', 'Griff', 'Dark Griff', 'Light Black',
       'Black', 'Creole Negro', 'Yellow', 'Quarteroon', 'Colored',
       'Creole Mulatto', 'Copper', 'Creole', 'Dark Negro',
       'Light Mulatto', 'Bright Mulatto', 'Dark', 'Dark Mulatto', 'Brown',
       'Light Griff', 'Dark Copper', 'Mulatto, Griff', 'Light Negro',
       'Fair Mulatto', 'Bright Color', 'Light', nan, 'Light Brown',
       'Albino, Negro', 'Dark Orange, Griff ', 'Chestnut',
       'Yellow, Griff', 'Negro ', 'Black Negro', '. ', 'Griff Creole'],
      dtype=object)

In [106]:
#fix their weird spacing for repeating values Also, "Griff" is a slave not entirely of African descent but was a number of different ethnicities
dataless.loc[(dataless.Color == 'Negro '),'Color']='Negro'
dataless.loc[(dataless.Color == '. '),'Color']='.'
dataless.Color.unique()

array(['.', 'Negro', 'Mulatto', 'Griff', 'Dark Griff', 'Light Black',
       'Black', 'Creole Negro', 'Yellow', 'Quarteroon', 'Colored',
       'Creole Mulatto', 'Copper', 'Creole', 'Dark Negro',
       'Light Mulatto', 'Bright Mulatto', 'Dark', 'Dark Mulatto', 'Brown',
       'Light Griff', 'Dark Copper', 'Mulatto, Griff', 'Light Negro',
       'Fair Mulatto', 'Bright Color', 'Light', nan, 'Light Brown',
       'Albino, Negro', 'Dark Orange, Griff ', 'Chestnut',
       'Yellow, Griff', 'Black Negro', 'Griff Creole'], dtype=object)

In [127]:
Quarteroon = dataless['Color'].str.contains('Quarteroon')
ttlQuarteroon = Quarteroon.sum()
Black = dataless['Color'].str.contains('Black')
ttlBlack = Black.sum()
Mulatto = dataless['Color'].str.contains('Mulatto')
ttlMulatto = Mulatto.sum()
print(ttlQuarteroon, ttlBlack, ttlMulatto)

25 293 1485